/*Estilo del encabezado*/
.realizar-pago {
  position: relative;
  width: 494px;
  height: 482px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.realizar-pago .titulo {
  position: absolute;
  top: 30px;
  left: 172px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

/*Estilo del boton de salir*/
.realizar-pago .salir {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 4px 6px;
  position: absolute;
  top: 16px;
  left: 408px;
  background-color: #ffffff;
  border-radius: 4px;
}

img {
    width: 18px;
    height: 18px;
}

.realizar-pago .icon {
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-color: transparent;
  background-color: transparent;
}

/*Estilo del los textos*/
.realizar-pago .nombre {
  position: absolute;
  top: 50px;
  left: 127px;
  font-family: "Sen-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.realizar-pago .monto {
    position: absolute;
    top: 90px;
    left: 176px;
    font-family: "Sen-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }

.realizar-pago .opcion {
  position: absolute;
  top: 115px;
  left: 35px;
  font-family: "Sen-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.realizar-pago .qr {
  position: absolute;
  width: 150px;
  height: 158px;
  top: 159px;
  left: 172px;
  object-fit: cover;
}

/*Estilo de la constancia de pago*/
.realizar-pago .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.realizar-pago .span {
  font-family: "Sen-Regular", Helvetica;
  font-size: 17px;
  width: 300px;
  height: 55px;
  top: 332px;
  left: 97px;
  background-color: #ed1e2821;
  border-radius: 6px;
  border: 0.5px solid;
  border-color: #000000;
  align-items: center;
  position: absolute;
}

.realizar-pago .span:active {
    background-color: red;
  }

/*Estilo del boton de pagar*/
.realizar-pago .pagar {
    all: unset;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    top: 426px;
    left: 47px;
    background-color: #ff8a8a;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 5px 7px;
    position: absolute;
  }

  .realizar-pago .pagar:active {
    background-color: red;
  }
  
  .realizar-pago .boton {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
  }